*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: red solid 1px;
}

body{
    background-color: #eee;
    font-family: sans-serif;
}
.card{
    background: white;
    max-width: 600px;
    padding: 30px;
    margin: 40px auto 40px auto;
}

ul, ol {
    margin-bottom: 10px;
}

li{
    margin-top:4px;
}

h2{
    margin-top:15px;
}